<!doctype html>
{% load bootstrap3 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="select2-container">
    <div>
        <a href="{% url 'learning_logs:index' %}">Learning Log</a>-
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </div>

    <div>
        {% block content %} {% endblock content %}
    </div>
</div>

</body>
</html>